<div class="row landing-call">
  <div class="col-md-6 landing-call-video">
  </div>
  <div class="col-md-6 landing-call-text">
    <h2>Encontre os lugares que são realmente relevantes para você comer!</h2>
    <p>Indique e receba indicações das coisas que você mais preza em um restaurante, bar ou lanchonete</p>

    <%= link_to "EXPERIMENTE JÁ!", establishments_path, class: "btn btn-default btn-lg btn-call" %>
  </div>
</div>

<div class="row landing-features">
  <div class="col-md-3">
    <span class="glyphicon glyphicon-cutlery"></span>
    <h3>For Food</h3>
    <p>O que mais importa para você na hora de comer? A culinária? O local? O serviço? Seja qual for a sua preferência o Fourk indicará os melhores pratos para você de acordo com os seus gostos!</p>
  </div>
  <div class="col-md-3">
    <span class="glyphicon glyphicon-search"></span>
    <h3>For Look</h3>
    <p>Procure os melhores estabelecimentos para você comer de acordo as características que você mais gosta. O Fourk poderá gerar rankings com os requisitos de sua preferência.</p>
  </div>
  <div class="col-md-3">
    <span class="glyphicon glyphicon-thumbs-up"></span>
    <h3>For Like</h3>
    <p>Do que você mais gostou no local onde comeu? Curta os pontos mais importantes de um estabelecimento, ganhe pontos e compartilhe com os outros usuários! O seu voto é base para o sistema de recomendações.</p>
  </div>
  <div class="col-md-3">
    <span class="glyphicon glyphicon-glass"></span>
    <h3>For Fun</h3>
    <p>Mais do que uma rede de compartilhamento, de indicações, de recomendações, o Fourk é uma plataforma para se divertir! Acumule pontos e seja um usuário influente!</p>
  </div>
</div>