body {
  background: rgb(255,236,196);
}

.navbar-fourk {
  border-color: rgb(155,27,52);
  border-radius: 0;
  background: rgb(155,27,52);

  .container {
    .navbar-header {
      .navbar-brand {
        font-size: 30px;
        color: rgb(255,236,196);
      }
    }
  }
}

.landing-call {
  margin-bottom: 40px;

  .col-md-6 {
    h2 {
      font-size: 40px;
    }

    p {
      font-size: 20px;
    }
  }
}

.landing-features {
  border-radius: 30px;
  padding-top: 20px;
  background: rgb(255,251,196);
  text-align: center;

  .col-md-3 {
    .glyphicon {
      font-size: 120px;
      color: rgb(155,27,52);
    }
  }
}