.navbar-fourk {
  border-color: rgb(155,27,52);
  border-radius: 0;
  background: rgb(155,27,52);

  .container {
    .navbar-header {
      .navbar-brand {
        color: rgb(255,236,196);
      }
    }
  }
}