$fourkcolor: #9B1B34;

.navbar-fourk {
  border-color: $fourkcolor;
  border-radius: 0;
  background: $fourkcolor;

  .container {
    .navbar-header {
      h1 {
        display: inline-block;
        margin: 0;

        .navbar-brand {
          color: rgb(255,236,196);

          img {
            width: 100px;
          }
        } /* end navbar-brand */
      } /* end h1 */
    } /* end navbar-header */

    .collapse.navbar-collapse {
      p {
        a {
          color: white;
        } /* end a */
      } /* end p */
    } /* end .collapse.navbar-collapse */
  } /* end container */
} /* end navbar-fourk */

.row.landing-call {
  margin-bottom: 40px;
  border-radius: 20px;
  background: rgb(255,236,196);

  .col-md-6.landing-call-video {
    iframe {
      width: 97%;
      margin: 10px;
    } /* end iframe */
  } /* end .col-md-6.landing-call-video */

  .col-md-6.landing-call-text {
    .btn.btn-call {
      background: $fourkcolor;
      color: white;
    } /* end btn.btn-call */

    .btn.btn-call:hover {
      background: rgb(255,251,196);
      color: $fourkcolor;
    } /* end btn.btn-call:hover */
  } /* end col-md-6.landing-call-text */
} /* end row.landing-call */

.landing-features {
  padding-top: 20px;

  .col-md-3 {
    .glyphicon {
      font-size: 120px;
      color: rgb(155,27,52);
    } /* end glyphicon */

    p {
      text-align: justify;
    } /* end p */
  } /* end col-md-3 */
} /* end landing-features */

.panel-default {
  .panel-heading {
    h2 {
      display: inline-block;
      margin-top: 10px;
    } /* end h1 */
  } /* end panel-heading */
} /* end panel-default */


.navbar-footer {
  width: 100%;
  margin-top: 20px;
  background: #ffecc4;
  text-align: center;

  .container {
    .row {
      .col-sm-3 {
        padding: 15px 0;

        a {
          color: #9b1b34;
        } /* end a */
      } /* end col-sm-3 */
    } /* end row */
  } /* end container */
} /* end navbar-footer */

.footer {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #9b1b34;
  text-align: center;
}