<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Estabelecimentos
        <%= link_to "Novo estabelecimento", new_establishment_path, class: "btn btn-default" %>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <% @establishments.each do |establishment| %>
            <%= link_to([establishment], :class => "list-group-item") do %>
              <h4 class="list-group-item-heading">
                <%= establishment.name %>
              </h4>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
  </div>
</div>