<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Estabelecimentos
        <%= link_to "Novo estabelecimento", new_establishment_path, class: "btn btn-default" %>
      </div>
      <div class="panel-body">
        <ul>
        <% @establishments.each do |establishment| %>
          <li><%= establishment.name %> - <%= link_to "Ver", establishment %></li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
  </div>
</div>